 <h4
              class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"
            >
              Events Details
            </h4>
            <div class="grid gap-6 mb-8 md:grid-cols-2">
              <div
                class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
              >
                <h4 class="mb-4 font-semibold text-gray-600 dark:text-gray-300">
                  Nairobi
                </h4>
                <p class="text-gray-600 dark:text-gray-400">
		On June 20th, 2024, citizens of Nairobi will gather at Uhuru Park to protest against the proposed Finance Bill. The demonstration aims to voice strong opposition to the bill's potential to impose heavy financial burdens on the public, particularly affecting low- and middle-income families. Join us in standing up for economic justice and equitable policies
		</p>
              </div>
              <div
                class="min-w-0 p-4 text-white bg-purple-600 rounded-lg shadow-xs"
              >
                <h4 class="mb-4 font-semibold">
                  Eldoret
                </h4>
                <p>People have already gathered on the streets of Eldoret to protest the proposed Finance Bill. The community is united in opposing the bill's potential to raise taxes on essential goods and services, which could negatively impact many residents. Join the protest to support fair and equitable financial policies for all.</p>
              </div>

